{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About - McDonald's Delivery by Deepesh</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p><u>Why now?</u></p>
            <p>People love McDonald's. With the current pandemic, many people restrain themselves and their relatives not to venture into the public and opt for online services for safer transactions and limit interactions. With everything being digitalised, everyone has access to the internet and ordering food online is a must in Mauritius.</p>
            <p><u>Why has it not been done before?</u></p>
            <p>People were not aware of the benefits from such applications. People management was not efficient.</p>
            <p><u>Purpose</u></p>
            <p>This web application has been created to allow everyone to order McDonald's at their own convenience. No need to commute, no need to wait long minutes, no need to stress on how to pay. We got you!!</p>
        </div>
    </div>
</div>
{% endblock content %}
